/* Reset CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Lato', sans-serif;
  }
  
  section {
    padding: 4rem 0;
  }
  
  h1, h2 {
    color: #2D3748;
  }

  @keyframes sparkle {
    0% {
      opacity: 0;
      transform: scale(0.5) rotate(0deg);
    }
    50% {
      opacity: 1;
      transform: scale(1.5) rotate(180deg);
    }
    100% {
      opacity: 0;
      transform: scale(1) rotate(360deg);
    }
  }
  
